{% extends 'CAIFSharedBundle:Shared:layout.html.twig' %}

{% block page_title_header %}
    About The Program
{% endblock %}

{% block content %}
    <div class="col-md-3">
        {% import 'CAIFSharedBundle:Shared:macros.html.twig' as macros %}
        {{ macros.host_sub_nav('about') }}
    </div>
    <div class="col-md-9">
        <div class="col-sm-12">
            <h1 class="heading-lg">The Need</h1>
            <p class="block-text" style="margin-bottom: 40px;">
                Each year, Clemson University welcomes approximately
                600 NEW internationals to its campus. At any given time,
                there are between 1400-1500 internationals studying at
                Clemson University, representing 80-90 different countries.
            </p>

            <h1 class="heading-lg">The Opportunity</h1>
            <p class="block-text" style="margin-bottom: 40px;">
                With the presence of so many foreign students in our community,
                there exists a unique opportunity for cross-cultural learning
                and for building personal ties between Americans and people
                from other nations. Hosting a foreign student can be a very
                rewarding experience, both for the student and the host. Many
                of our friendships continue to grow even after the student
                returns home.
            </p>

            <h1 class="heading-lg">The Relationships</h1>
            <p class="block-text" style="margin-bottom: 40px;">
                The rewards range from expanding your understanding of the world
                to discovering a new and special friend. The relationships that
                develop between hosts and foreign students tend to foster a new
                appreciation for how others live and view the world, and can
                contribute to achieving a better awareness of cultural differences
                and similarities.
            </p>

            <h1 class="heading-lg">The Reward</h1>
            <p class="block-text" style="margin-bottom: 40px;">
                The Host Family Program of Clemson Area International Friendship
                offers the opportunity for community members to become friends with
                foreign students, faculty and visiting scholars to the Clemson, SC
                area. Being a host friend does not require providing home stay. Instead,
                it involves helping international visitors adjust to the Clemson community
                by inviting them to share meals, visit in American homes, tour the area,
                or take part in any number of activities.
            </p>
        </div>
    </div>
{% endblock %}
