{% extends 'CAIFSharedBundle:Shared:layout.html.twig' %}

{% block page_title_header %}
    Activity Ideas
{% endblock %}

{% block content %}
    <div class="col-md-3">
        {% import 'CAIFSharedBundle:Shared:macros.html.twig' as macros %}
        {{ macros.host_sub_nav('activity') }}
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="heading-sm">Activity Ideas</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Meals
                        </h4>
                        <p class="list-group-item-text light-grey">
                            Serve American faves as well as familiar foods
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Family Celebrations
                        </h4>
                        <p class="list-group-item-text light-grey">
                            Birthdays, holidays, special events
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Family Outtings
                        </h4>
                        <p class="list-group-item-text light-grey">
                            Picnics, hikes, shopping, zoo
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Overnight Stays
                        </h4>
                        <p class="list-group-item-text light-grey">
                            Especially during school breaks
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Weddings
                        </h4>
                        <p class="list-group-item-text light-grey">
                            Students like to attend American weddings
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Camping Trips
                        </h4>
                        <p class="list-group-item-text light-grey">

                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Sporting Events
                        </h4>
                        <p class="list-group-item-text light-grey">
                            Attend children's, amateur, or college games
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Boating
                        </h4>
                        <p class="list-group-item-text light-grey">
                            Make sure your student wears a life jacket, as many have never had the opportunity to learn swimming as a life skill
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h3 class="heading-sm">Relationship Builders</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        Drop by with baked goods or small gifts
                    </li>
                    <li class="list-group-item">
                        Frequently send notes of encouragement via mail, email or texts. Handwritten notes turn into special mementos of friendship.
                    </li>
                    <li class="list-group-item">
                        Meet him or her on campus for a cup of coffee or a soda or an ice cream cone!
                    </li>
                    <li class="list-group-item">
                        Provide your student's birthday cake and ask about his/her traditional birthday celebrations
                    </li>
                    <li class="list-group-item">
                        Attend your student's cultural holiday celebrations, often sponsored by student club organizations. Example: Indian Diwali Festival (fall) and Chinese New Year (Winter)
                    </li>
                    <li class="list-group-item">
                        Help with conversational English and writing skills
                    </li>
                    <li class="list-group-item">
                        Take pictures to share
                    </li>
                    <li class="list-group-item">
                        Find your student on Facebook
                    </li>
                    <li class="list-group-item">
                        Share problems and needs; develop a good listening ear
                    </li>
                    <li class="list-group-item">
                        Help him/her find warm winter clothing or other special needs like appropriate interview attire
                    </li>
                    <li class="list-group-item">
                        Attend your student's graduation. You get to be the proud parents!
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
