{% extends 'CAIFSharedBundle:Shared:layout.html.twig' %}

{% block page_title_header %}
    Conversation Starters
{% endblock %}

{% block content %}
    <div class="col-md-3">
        {% import 'CAIFSharedBundle:Shared:macros.html.twig' as macros %}
        {{ macros.host_sub_nav('conversation') }}
    </div>
    <div class="col-md-9">
        <h3 class="heading-sm">Starter Tips</h3>
        <p class="light-grey" style="font-size: 16px;">
            Most international students enjoy the opportunity to speak with Americans and to have the chance to practice their English-speaking skills. The sincerity, patience, and understanding of your communication is a very important part of building a new friendship. These guidelines, while basic, have proven to be helpful to many Americans as they form friendships with international students.
        </p>
        <div class="row">
            <div class="col-sm-6">
                <h3 class="heading-sm">Jump-Start Your Conversations</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Geographical Questions
                        </h4>
                        <p class="list-group-item-text light-grey">
                            Where is your city?
                            <br>
                            What would you like to see while you are in America?
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Photographs/Family
                        </h4>
                        <p class="list-group-item-text light-grey">
                            Do you have family photographs that I could see?
                            <br>How large is your family?
                            <br>What is your extended family like?
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Languages
                        </h4>
                        <p class="list-group-item-text light-grey">
                            What languages do you speak?
                            <br>Ask how to say various greetings &amp; other common phrases in his/her language.
                            <br>Offer to help with any expressions or concepts in English with which he or she is having difficulty.
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Money
                        </h4>
                        <p class="list-group-item-text light-grey">

                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Socializing, Dating &amp; Marriage
                        </h4>
                        <p class="list-group-item-text light-grey">
                            In your culture, how do young men and women get to know each other?
                            <br>Are marriages arranged?
                            <br>What are some of the wedding customs?
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Family Life
                        </h4>
                        <p class="list-group-item-text light-grey">
                            What are your important holidays?
                            <br>How are children disciplined?
                            <br>What is the average number of children in a family?
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Men's and Women's Roles
                        </h4>
                        <p class="list-group-item-text light-grey">

                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Recreation
                        </h4>
                        <p class="list-group-item-text light-grey">
                            What games/sports are popular in your country?
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Education
                        </h4>
                        <p class="list-group-item-text light-grey">
                            What are some differences between your educational sytem and ours?
                            <br>What degree are you pursuing?
                            <br><strong>NOTE:</strong> if you are a homeschooling family, be aware that this is a very new and different concept to most foreigners.
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Transportation
                        </h4>
                        <p class="list-group-item-text light-grey">

                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Food
                        </h4>
                        <p class="list-group-item-text light-grey">
                            What was your first reaction to American food?
                            <br>Are your foods highly seasoned?
                            <br>What is a typical breakfast like for you?
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Spiritual Topics
                        </h4>
                        <p class="list-group-item-text light-grey">
                            Please remember that proselytizing is not acceptable within CAIF, but most internationals will freely discuss spiritual topics. Be respectful as opinions vary widely across cultures.
                            <br>I'd like to know more about your religious beliefs.
                            <br>What is your perception of religion in this country?
                            <br>What do you think is the meaning of life?
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h3 class="heading-sm">Some Basics</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        Listen attentively
                    </li>
                    <li class="list-group-item">
                        Speak carefully to be understood
                        <br>
                        <span class="light-grey">
                            Remember to articulate well, speak slowly and clearly. (But not LOUDER--they're not deaf!)
                        </span>
                    </li>
                    <li class="list-group-item">
                        Avoid using idioms and slang in conversation.
                        <br>
                        <span class="light-grey">
                            These terms can be fun to discuss as a conversational topic, but make it clear to the student that it is a teaching time.
                        </span>
                    </li>
                    <li class="list-group-item">
                        Use jokes and humor sparingly. Often the joke gets lost because of lack of cultural context.
                    </li>
                    <li class="list-group-item">
                        Explain words and phrases patiently.
                    </li>
                    <li class="list-group-item">
                        Respect differences of opinion.
                    </li>
                </ul>
                <br>

                <h3 class="heading-sm">Non-Verbal Communication</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Be aware of body language
                        </h4>
                        <p class="list-group-item-text">

                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Touch
                        </h4>
                        <p class="list-group-item-text light-grey">
                            Be careful and sensitive in this area. Some cultures are very "touchy" with greetings (kisses, hugs), while others almost never touch
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Personal Space
                        </h4>
                        <p class="list-group-item-text light-grey">
                            The amound needed varies drastically from culture to culture
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Formality &amp; Informality
                        </h4>
                        <p class="list-group-item-text light-grey">
                            Americans tend toward a more informal lifestyle. In other cultures, formality in dress, in language, and in greeting another shows respect for the host or declares one's social status
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Time Perception
                        </h4>
                        <p class="list-group-item-text light-grey">
                            Western culture runs by the clock, but other cultures are not as "time conscious"
                        </p>
                    </li>
                </ul>
                <iframe height="250" src="https://www.youtube.com/embed/eJ0SuD_ulVk" frameborder="0" allowfullscreen style="max-width: 100%; min-width: 100%;"></iframe>
            </div>
        </div>
    </div>
{% endblock %}
