{% extends 'CAIFSharedBundle:Shared:layout.html.twig' %}

{% block page_title_header %}
    Guidelines
{% endblock %}

{% block content %}
    <div class="col-md-3">
        {% import 'CAIFSharedBundle:Shared:macros.html.twig' as macros %}
        {{ macros.host_sub_nav('guidelines') }}
    </div>
    <div class="col-md-9">
        <br>
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="active">
                <a href="#general-tab" data-toggle="tab">
                    General Guidelines
                </a>
            </li>
            <li>
                <a href="#suggestions-tab" data-toggle="tab">
                    Suggestions For First Meeting
                </a>
            </li>
        </ul>
        <br>

        <div class="tab-content">
            <div class="tab-pane active" id="general-tab">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>NOT A Home-Stay</h4>
                        <blockquote class="text-block" style="font-size: 16px;">
                            The Host Friend Program is NOT a home-stay program.
                        </blockquote>
                    </div>
                    <div class="col-sm-6">
                        <h4>Lifespan</h4>
                        <blockquote class="text-block" style="font-size: 16px;">
                            Students are assigned to a Friendship Partner
                            for a period of one year, although the
                            relationship may well continue beyond that year.
                        </blockquote>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Multiple Students</h4>
                        <blockquote class="text-block" style="font-size: 16px;">
                            We suggest that you consider "adopting" at
                            least 2 students at one time. Many students
                            come to the welcome reception with a roommate
                            or friend. Having someone familiar with them as
                            they visit with you is comforting, for both the
                            student and the host friend.
                        </blockquote>
                    </div>
                    <div class="col-sm-6">
                        <h4>Problems</h4>
                        <blockquote class="text-block" style="font-size: 16px;">
                            If for any reason whatsoever the student and
                            host are not compatible, it is reasonable and
                            possible to request a change. Do not remain
                            unhappy about the situation or simply neglect
                            to contact the student. Instead, call the
                            coordinators, Jon or Alana Varner
                            (864-723-0821) and discuss your problem.
                        </blockquote>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Cultural Background</h4>
                        <blockquote class="text-block" style="font-size: 16px;">
                            It is helpful to be as familiar as possible
                            with the cultural background of the student,
                            the geography of his/her country and a few
                            facts about it.
                        </blockquote>
                    </div>
                    <div class="col-sm-6">
                        <h4>Dietary Restrictions</h4>
                        <blockquote class="text-block" style="font-size: 16px;">
                            Some students have dietary restrictions based
                            on religious or cultural preferences. Refer
                            to your copy of the student's application.
                            See "What to Serve--Meal Tips" in the link
                            above.
                        </blockquote>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Meeting With Students</h4>
                        <blockquote class="text-block" style="font-size: 16px;">
                            You are asked to contact your student at least
                            once a month. It may be just a friendly call,
                            encouraging email, or an invitation. Keep in
                            contact to show your interest and let your
                            student know you are available.
                            <br><br>
                            If you are away for holidays or on vacation,
                            let your student know. A lack of contact can
                            cause misunderstandings.
                            <br><br>
                            When arranging a meeting, be sure the student
                            knows when and where it will be and what time
                            you will be returning them to their apartment.
                            Transportation should be provided for the
                            first few meetings, even if the student has
                            their own car.
                        </blockquote>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Part Of The Family</h4>
                        <blockquote class="text-block" style="font-size: 16px;">
                            We suggest that, if possible, you invite the
                            students for Thanksgiving dinner as well as
                            some activity during the Christmas season and
                            semester breaks. These may be lonely periods
                            for them and it will give them good insights
                            into our culture.
                            <br><br>
                            We encourage you to make your students a part
                            of the family's informal living rather than
                            treating them like a guest. Let them see you
                            in everyday living situations and let them
                            help you with tasks and activities as
                            appropriate.
                        </blockquote>
                    </div>
                    <div class="col-sm-6">
                        <h4>Religion</h4>
                        <blockquote class="text-block" style="font-size: 16px;">
                            Religion and religious institutions are
                            important to American culture. You are free
                            to invite students to attend worship services
                            with you, particularly during religious
                            holidays, but you should indicate clearly
                            the nature of the event as well as its
                            sponsorship and let the student decide if
                            they will participate. Many students
                            appreciate the opportunity to attend church
                            events as a part of their cultural
                            experience, but it is the policy of CAIF that
                            proselytizing is not acceptable.
                        </blockquote>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Encourage Their Customs</h4>
                        <blockquote class="text-block" style="font-size: 16px;">
                            Encourage your student to explain his/her
                            customs, country, food, etc. It may be that
                            the student will want to prepare some food
                            for you in your kitchen.
                        </blockquote>
                    </div>
                    <div class="col-sm-6">
                        <h4>Pets</h4>
                        <blockquote class="text-block" style="font-size: 16px;">
                            Some internationals are uncomfortable with
                            housepets. You should ask ahead of extending
                            your first invitation and keep pets locked up
                            if your guests are allergic or fearful.
                        </blockquote>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Problems</h4>
                        <blockquote class="text-block" style="font-size: 16px;">
                            Do not assume responsibility for financial,
                            immigration, academic, employment, health or
                            serious adjustment problems. Refer these
                            problems to sccaif@gmail.com
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="suggestions-tab">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Get In Touch</h4>
                        <blockquote class="text-block" style="font-size: 16px;">
                            When you receive the name of your student,
                            get in touch as soon as possible by phone or
                            email to arrange your first meeting. Early
                            contact is important since the first few
                            weeks are often the most difficult for a
                            student. Please identify yourself as part
                            of the CAIF International Friends Program.
                        </blockquote>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Prevent Misunderstandings</h4>
                        <blockquote class="text-block" style="font-size: 16px;">
                            The student will have received your name and
                            number. However, a written note (or email)
                            with your name, address, phone number, email
                            address, time and place of the first meeting,
                            length of the visit and appropriate dress can
                            prevent misunderstandings. Even if the student
                            has transportation, it is best to provide it
                            the first time.
                        </blockquote>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Learn Their Name</h4>
                        <blockquote class="text-block" style="font-size: 16px;">
                            Learn to pronounce the student's name
                            correctly and use the name he/she prefers.
                            Refrain from assigning an English name unless
                            your student suggests it.
                        </blockquote>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Remember: School Comes First</h4>
                        <blockquote class="text-block" style="font-size: 16px;">
                            The student's first priority is to study.
                            These young people are very serious students
                            and keep hectic class and research schedules.
                            You may find that you want to see him/her
                            more often than he/she can spare the time.
                            Do not be discouraged if this happens and do
                            not consider this a rejection of your time
                            and interest. Continue to extend invitations,
                            even if only for a brief coffee break.
                            Sometimes a well-timed email or phone call
                            of encouragement goes further than a lengthy
                            visit.
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
