{% extends 'CAIFSharedBundle:Shared:layout.html.twig' %}

{% block page_title_header %}
    Mission
{% endblock %}

{% block container_content %}
    <div class="container">
        <h2 class="text-center">Our Mission</h2>
        <p class="block-text text-center">
            The mission of Clemson Area International Friendship
            is to provide a mutually supportive and positive experience
            for both the international visitor and the community member.
            CAlF members want to become goodwill ambassadors to all our
            international friends.
        </p>
        <hr>
        <div class="row" style="padding: 75px 0px;">
            <div class="col-md-6">
                <h2>The Need</h2>
                <p class="block-text">
                    Each year, Clemson University welcomes approximately
                    600 NEW internationals to its campus. At any given time,
                    there are between 1400-1500 internationals studying at
                    Clemson University, representing 80-90 different countries.
                </p>
            </div>
            <div class="col-md-6">
                <img src="{{ asset('bundles/caifshared/images/hostProgram1.JPG') }}" style="width: 100%;">
            </div>
        </div>
    </div>
    <div style="background-color: #f4f4f4; padding: 75px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>The Opportunity</h2>
                    <p class="block-text">
                        With the presence of so many foreign students in our community,
                        there exists a unique opportunity for cross-cultural learning
                        and for building personal ties between Americans and people
                        from other nations. Hosting a foreign student can be a very
                        rewarding experience, both for the student and the host. Many
                        of our friendships continue to grow even after the student
                        returns home.
                    </p>
                </div>
                <div class="col-md-6">
                    <h2>The Relationships</h2>
                    <p class="block-text">
                        The rewards range from expanding your understanding of the world
                        to discovering a new and special friend. The relationships that
                        develop between hosts and foreign students tend to foster a new
                        appreciation for how others live and view the world, and can
                        contribute to achieving a better awareness of cultural differences
                        and similarities.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="padding: 75px 0px;">
            <div class="col-md-6">
                <h2>The Reward</h2>
                <p class="block-text">
                    The Host Family Program of Clemson Area International Friendship
                    offers the opportunity for community members to become friends with
                    foreign students, faculty and visiting scholars to the Clemson, SC
                    area. Being a host friend does not require providing home stay. Instead,
                    it involves helping international visitors adjust to the Clemson community
                    by inviting them to share meals, visit in American homes, tour the area,
                    or take part in any number of activities.
                </p>
            </div>
            <div class="col-md-6">
                <img src="{{ asset('bundles/caifshared/images/hostProgram3.jpg') }}" style="width: 100%;">
            </div>
        </div>
    </div>
{% endblock %}
