{% extends 'CAIFSharedBundle:Shared:layout.html.twig' %}

{% block page_title_header %}
    What Folks Are Saying
{% endblock %}

{% block content %}
<div class="col-xs-12 col-md-3">
    {% import 'CAIFSharedBundle:Shared:macros.html.twig' as macros %}
    {{ macros.home_sub_nav('quotes') }}
</div>
<div class="col-xs-12 col-md-9">
    <br>
    <!-- mindy -->
    <div class="row">
        <div class="col-sm-3" style="font-size: 120px;">
            <center>
                <i class="fa fa-user" style="margin-top: 30px;"></i>
            </center>
        </div>
        <div class="col-sm-9">
            <h2>
                Mindy
                <small>China</small>
            </h2>
            <p class="text-block">
                "Being a international student in U.S. is not the most
                exciting thing if you have been through all this: homesick,
                onely, helpless. But having a host family here changed
                everything. You have people who treat you as family, who
                help and care about you. The warmth you get from family
                can support you to keep going and smiling at life"
            </p>
        </div>
    </div>
    <br><hr><br>

    <!-- Elva -->
    <div class="row">
        <div class="col-sm-3" style="font-size: 120px;">
            <center>
                <i class="fa fa-user" style="margin-top: 30px;"></i>
            </center>
        </div>
        <div class="col-sm-9">
            <h2>
                Elva
                <small>China</small>
            </h2>
            <p class="text-block">
                "I am so fortunate that I could meet such a lovely family.
                I want to show my gratitude to my host family from the
                bottom of my heart. I couldn't adjust to life in Clemson
                so fast and so well without their help. I am deeply thankful
                for that they open their house and their heart to me, and for
                their patience and care. I never feel afraid to make changes
                because they accept what I like. I work hard without fear
                because I know I always have a home to go to and have a family
                to stay with. I love my host family so much. Thanks for CAIF
                host the welcome event."
            </p>
        </div>
    </div>
    <br><hr><br>

    <!-- Connie -->
    <div class="row">
        <div class="col-sm-3" style="font-size: 120px;">
            <center>
                <i class="fa fa-user" style="margin-top: 30px;"></i>
            </center>
        </div>
        <div class="col-sm-9">
            <h2>
                Connie Caldwell
                <small>CAIF Community Member</small>
            </h2>
            <p class="text-block">
                "Serving as a CAIF host family has been so much fun! We
                started with what we thought were 4 students, but later
                learned that one was married and had a 5 year old son.
                Then when a couple of them couldn't make it to our house
                for a cookout because they couldn't drive, they talked a
                friend into bringing them and soon we had another! Never
                had a large family until we "adopted" international
                students--it has been a tremendous blessing getting to
                know them and helping them integrate into the American
                culture."
            </p>
        </div>
    </div>
    <br><hr><br>

    <!-- Swetha -->
    <div class="row">
        <div class="col-sm-3" style="font-size: 120px;">
            <center>
                <i class="fa fa-user" style="margin-top: 30px;"></i>
            </center>
        </div>
        <div class="col-sm-9">
            <h2>
                Swetha
                <small>India</small>
            </h2>
            <p class="text-block">
                "Been almost 7.5 years &amp; still remember the day when
                I was at CAIF welcome event. Two happy, little girls with
                their happy mom &amp; dad came up &amp; invited me over dinner.
                I went with hopes of friendship and stepped out of their
                door as a part of their family. Simply put "I gained a
                home away from home &amp; priceless love meant to last
                forever"
            </p>
        </div>
    </div>
    <br><hr><br>

    <!-- Prakash -->
    <div class="row">
        <div class="col-sm-3" style="font-size: 120px;">
            <center>
                <i class="fa fa-user" style="margin-top: 30px;"></i>
            </center>
        </div>
        <div class="col-sm-9">
            <h2>
                Prakash
                <small>India</small>
            </h2>
            <p class="text-block">
                "I am truly blessed to have (my host family) by my side
                when I am so far away from my family. So proud to have
                an American Mom &amp; Dad in my life! Love you both.
                God bless!"
            </p>
        </div>
    </div>
    <br><hr><br>

    <!-- Kathy -->
    <div class="row">
        <div class="col-sm-3" style="font-size: 120px;">
            <center>
                <i class="fa fa-user" style="margin-top: 30px;"></i>
            </center>
        </div>
        <div class="col-sm-9">
            <h2>
                Kathy Mabry
                <small>CAIF President</small>
            </h2>
            <p class="text-block">
                "My family has been 'adopting' students for 10+ years.
                Over 30 delightful college students have graced our home
                throughout the years, representing the countries of India,
                hina, Iran, Germany, El Salvador, and Japan. We have
                shared many laughs, meaningful conversations about a
                variety of topics, and LOTS of good food. It has been our
                great joy to celebrate many graduations, birthdays,
                achievements, marriages, birth of new babies, etc. with our
                international friends. We also count it a privilege to have
                been 'mom and dad' during some very difficult times in the
                lives of our students. My husband and I try to treat these
                young people the way we hope some kind family would treat
                our daughters if they were in another country."
            </p>
        </div>
    </div>
    <br><br>
</div>
{% endblock %}
