{% extends 'CAIFSharedBundle:Shared:layout.html.twig' %}

{% block page_title_header %}
    Events
{% endblock %}

{% block content %}
    <div class="col-md-3">
        {% import 'CAIFSharedBundle:Shared:macros.html.twig' as macros %}
        {{ macros.event_sub_nav('events') }}
    </div>
    <div class="col-md-9 event">
        <br>
        {% import 'CAIFSharedBundle:Event:macro.html.twig' as macros %}
        {{ macros.events(events, 'caif_shared_event_show') }}
    </div>
{% endblock %}
