{% extends 'CAIFSharedBundle:Shared:layout.html.twig' %}

{% block page_title_header %}
    Events
{% endblock %}

{% block content %}
    <div class="col-md-3">
        {% import 'CAIFSharedBundle:Shared:macros.html.twig' as macros %}
        {{ macros.event_sub_nav('wives-club') }}
    </div>
    <div class="col-md-9">
        <br>
        <h3 class="heading-sm">International Wives Club</h3>
        <div class="row">
            <div class="col-md-8">
                <p class="block-text">
                    The CAIF International Wives Club was organized to help international ladies get connected with other females. All ladies, both married and single, are welcome to attend, as well as your young children. We meet generally on the second and fourth Fridays of the month, typically from 10 a.m. until noon. Location for each meeting is most often at 91 Vineyard Road in Clemson. At each meeting, we offer a topic of interest: crafting, cooking classes, household management ideas, shopping helps, parenting tips, etc. Snacks are provided.  Each semester's events are posted on the events tab. To have your name added to the group email list, please contact Alana Varner at alanavarner@gmail.com
                </p>
            </div>
            <div class="col-md-4">
                <img src="{{ asset('bundles/caifshared/images/intlWivesClub.jpg') }}" style="max-width: 100%;">
            </div>
        </div>
        <hr>

        <h4>For more information, contact:</h4>
        <ul>
            <li>Alana Varner:  alanavarner@gmail.com</li>
            <li>Sherri Campbell:  mrs.scampbell@gmail.com</li>
        </ul>
    </div>
{% endblock %}
