/*
 * Custom css file
 */

html, body {
  height   : 100%;
  width    : 100%;
  padding  : 0;
  margin   : 0;
  font-size: 1.0em;
}

h1, h2, h3, h4 {
    font-weight   : 200;
    letter-spacing: 1px;
}

.heading-lg {
    font-size: 3.4em;
    color    : #777;
}
.heading-md {
    font-size: 2.8em;
    color    : #777;
}
.heading-sm {
    font-size: 1.9em;
    color    : #777;
}
.block-text {
    color      : #999;
    font-size  : 1.3em;
    line-height: 36px;
}

#background {
  z-index   : -999;
  min-height: 100%;
  min-width : 1024px;
  width     : 100%;
  height    : auto;
  position  : fixed;
  top       : 0;
  left      : 0;
}

/*.content {
    margin-left: 250px;
    padding    : 25px;
}*/

/* fix for bootstrab nav-tabs */
.nav-tabs > li > a {
    margin-right: 0px !important;
}


.primary-color {
    color: #f66733;
}
.primary-font {
    font-family: Georgia;
}
.secondary-color {
    color: #522D80;
}

.primary-heading {
    font-size  : 26px;
    font-family: Georgia;
    color      : #522D80;
    margin-top : 10px;
}
.page-heading {
    height       : 200px;
    margin-top   : -88px;
    margin-bottom: 10px;
    background   : linear-gradient(90deg,#ff6733 0%,#ffa06a 100%);
}
.main-heading {
    padding-top: 100px;
    font-size  : 3.5em;
}

/* show links on hover */
@media screen and (max-width: 750px) {
    .main-heading {
        margin-top: 45px;
        font-size : 18px;
    }
}


/* buttons */
.btn-header {
    border          : 1px solid #fff;
    border-radius   : 5px;
    background-color: inherit;
    color           : #fff;
    font-size       : 14px;
    padding-top     : 8px;
    padding-bottom  : 8px;
    padding-left    : 10px;
    padding-right   : 10px;
}
.btn-header.btn-header-lg {
    font-size     : 16px;
    padding-top   : 10px;
    padding-bottom: 10px;
    padding-left  : 15px;
    padding-right : 15px;
}
.btn-header:hover {
    background-color: #fff;
    color           : #522D80;
    text-decoration : none;
}

.btn-custom {
    border          : 1px solid #522D80;
    background-color: inherit;
    color           : #522D80;
}
.btn-custom:hover {
    background-color: #522D80;
    color           : #fff;
}
.btn-caif {
    border          : 1px solid #ff6733;
    background-color: inherit;
    color           : #ff6733;
}
.btn-caif:hover {
    background-color: #ff6733;
    color           : #fff;
}
.btn-footer {
    background-color: #ff6733;
    color           : #ffffff;
}
.btn-danger-inverse {
    /*border: 1px solid #e5173f;*/
    border          : 1px solid #d9534f;
    background-color: inherit;
    color           : #d9534f;
}
.btn-danger-inverse:hover {
    color           : #fff;
    background-color: #d9534f;
}


/* cursor on table */
.table-pointer {
    cursor: pointer;
}
.pointer {
    cursor: pointer;
}


ul .active {
    background-color: #f0f0f0;
}


.sub-tabs li:hover {
    background-color: #f9f9f9;
}
.sub-tabs .active {
    background-color: #522D80;
    border-color    : #522D80;
}
.sub-tabs .active:hover {
    background-color: #522D80;
    border-color    : #522D80;
}

.event .panel:hover {
    background-color: #f9f9f9;
}



/* ul list group */
.email-group > .active,
.email-group > .active:hover {
    background-color: #522D80;
    border          : #522D80;
}
.email-group > li:hover {
    background-color: #f9f9f9;
}



/* colors */
.wedding {
    color: #b59b77;
}

.dark-grey {
    color: #333333;
}

.light-grey {
    color: #999999;
}

.color-white {
    color: #ffffff;
}

.color-light-purple {
    color: #C09FEF;
}

.font-green {
    color: #71A241;
}

.custom-font-header {
    font-family: Impact, Charcoal, sans-serif;
}

.custom-font-sub-header {
    font-family: "Arial Black", Gadget, sans-serif;
}

.text-block {
    font-size: 18px;
    color    : #999;
}


.main-image {
    height               : 600px;
    background-position  : center center;
    background-repeat    : no-repeat;
    background-attachment: fixed;
    background-size      : cover;
    background-image     : url("../../Resources/public/images/main-image.jpg");
}

.main-image h1 {
    color         : rgba(255, 255, 255, 0.8);
    font-size     : 48px;
    line-height   : 250px;
    font-weight   : 700;
    text-align    : center;
    text-transform: uppercase;
    text-shadow   : 0 0 10px rgba(0, 0, 0, 0.2);
}
.main-image h2 {
    color         : rgba(255, 255, 255, 0.8);
    font-size     : 30px;
    font-weight   : 700;
    text-align    : center;
    text-transform: uppercase;
    text-shadow   : 0 0 10px rgba(0, 0, 0, 0.2);
}
.main-image h2 i {
    color         : rgba(255, 255, 255, 0.8);
    font-size     : 100px;
    line-height   : 150px;
    font-weight   : 700;
    text-align    : center;
    text-transform: uppercase;
    text-shadow   : 0 0 10px rgba(0, 0, 0, 0.2);
}


.purple-background {
    height : 100%;
    width  : 100%;
    padding: 0px;
}
.welcome-bar-nav h2 {
    margin-top    : -90px;
    color         : rgba(255, 255, 255, 1);
    font-size     : 26px;
    font-weight   : 700;
    text-align    : center;
    text-transform: uppercase;
    text-shadow   : 0 0 10px rgba(0, 0, 0, 0.2);
}
.welcome-bar-nav h2 i {
    color         : rgba(255, 255, 255, 0.4);
    font-size     : 80px;
    line-height   : 20px;
    font-weight   : 700;
    text-align    : center;
    text-transform: uppercase;
    text-shadow   : 0 0 10px rgba(0, 0, 0, 0.2);
}
.welcome-bar-nav-2 h2 {
    color         : rgba(255, 255, 255, 1);
    font-size     : 26px;
    font-weight   : 700;
    text-align    : center;
    text-transform: uppercase;
    text-shadow   : 0 0 10px rgba(0, 0, 0, 0.2);
}
.welcome-bar-nav-2 h2 i {
    color         : rgba(255, 255, 255, 0.7);
    font-size     : 80px;
    line-height   : 20px;
    font-weight   : 700;
    text-align    : center;
    text-transform: uppercase;
    text-shadow   : 0 0 10px rgba(0, 0, 0, 0.2);
}
.welcome-bar-nav-3 h2 {
    color         : #522D80;
    opacity       : 1;
    font-size     : 20px;
    font-weight   : 700;
    text-align    : center;
    text-transform: uppercase;
}
.welcome-bar-nav-3 h2 i {
    color         : #522D80;
    opacity       : .7;
    font-size     : 80px;
    line-height   : 0px;
    font-weight   : 700;
    text-align    : center;
    text-transform: uppercase;
}

.sm-break {
    text-align      : center;
    width           : 150px;
    height          : 1px;
    background-color: #ccc;
}


.navbar-nav li a {
    padding-top   : 25px;
    padding-bottom: 20px;
    color         : #fff;
}
.navbar-nav li.dropdown ul.dropdown-menu li a {
    padding: 15px 20px;
}
.navbar-nav li a .caret {
    border-top-color: #fff;
}
.navbar-nav li a:hover {
    background-color: inherit;
    color           : #fff;
}
.navbar-nav > .active {
    background-color: inherit;
    border-bottom   : 3px solid #fff;
}
.dropdown-menu > .active > a {
    background-color: #522D80 !important;
}
.navbar {
    height          : 68px !important;
    border-radius   : 0 !important;
    border-right    : 0;
    background-color: rgba(34, 0, 61, 0.1);
    border-bottom   : none;
    margin-bottom   : 0px;
}
.navbar-collapse {
    max-height: none;
}
.collapse.in {
    /* background-color: rgba(0, 0, 0, 0.4); */
    margin-top      : 15px;
}
.collapse.in .dropdown .dropdown-menu li a {
    color: #fff;
}
.collapse.in .dropdown .dropdown-menu li a:hover {
    background-color: inherit;
}
.navbar-brand {
    /* color      : #522D80; */
    color      : #fff;
    font-size  : 24px;
    height     : 24px;
    padding-top: 25px;
}
.navbar-brand:hover {
    color: #421D70;
}


.navbar-toggle {
  position        : relative;
  float           : right;
  padding         : 9px 10px;
  margin-top      : 8px;
  margin-right    : 15px;
  margin-bottom   : 8px;
  background-color: #fff;
  border          : 1px solid #522D80;
  border-radius   : 4px;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #522D80 !important;
}

.navbar-nav > li > a,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav .open > a,
.navbar-nav .open > a:hover,
.navbar-nav .open > a:focus {
    background-color: inherit;
}


/* dropdown-menu basic */
.dropdown-menu {
    /* max-height: 310px; */
    /* overflow: auto; */
}
.dropdown-menu li a {
    color: #522D80;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #eee;
    color           : inherit;
}


.dropdown-menu .sub-menu {
    left      : 100%;
    position  : absolute;
    top       : 0;
    visibility: hidden;
    margin-top: -1px;
}

/* show links on hover */
@media screen and (min-width: 750px) {
    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left  : none;
    border-right : 7px solid rgba(0, 0, 0, 0.2);
    border-top   : 7px solid transparent;
    left         : -7px;
    top          : 10px;
}
.navbar .sub-menu:after {
    border-top   : 6px solid transparent;
    border-left  : none;
    border-right : 6px solid #fff;
    border-bottom: 6px solid transparent;
    left         : 10px;
    top          : 11px;
    left         : -6px;
}


/* upload file */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position  : absolute;
    top       : 0;
    right     : 0;
    min-width : 100%;
    min-height: 100%;
    font-size : 100px;
    text-align: right;
    filter    : alpha(opacity=0);
    opacity   : 0;
    outline   : none;
    background: white;
    cursor    : inherit;
    display   : block;
}


/* green button */
.btn-green {
    background-color: #71A241;
    color           : #fff;
}
.btn-green:hover {
    background-color: #508021;
    color           : #fff;
}


/* purple button */
.btn-purple {
  color           : #ffffff;
  background-color: #522D80;
  border-color    : #522D80;
}

.btn-purple: hover,
.btn-purple: focus,
.btn-purple: active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple {
  color           : #ffffff;
  background-color: #3B205C;
  border-color    : #522D80;
}

.btn-purple: active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple {
  background-image: none;
}

.btn-purple.disabled,
.btn-purple[disabled],
fieldset[disabled] .btn-purple,
.btn-purple.disabled.active,
.btn-purple[disabled].active,
fieldset[disabled] .btn-purple.active {
  background-color: #522D80;
  border-color    : #522D80;
}

.btn-purple .badge {
  color           : #522D80;
  background-color: #ffffff;
}


/* panel */
.panel {
    margin-bottom   : 20px;
    background-color: #ffffff;
    border          : 1px solid transparent;
}

.panel-body {
    padding: 15px;
}

.panel-body: before,
.panel-body: after {
    display: table;
    content: " ";
}

.panel-body:after {
    clear: both;
}

.panel-body: before,
.panel-body: after {
    display: table;
    content: " ";
}

.panel-body:after {
    clear: both;
}

.panel > .table {
    margin-bottom: 0;
}

.panel > .panel-body + .table {
    border-top: 1px solid #dddddd;
}

.panel-heading {
    padding      : 10px 15px;
    border-bottom: 1px solid transparent;
}

.panel-default {
    border-color: #dddddd;
}

.panel-default > .panel-heading {
    color           : #333333;
    background-color: #fff;
    border-color    : #dddddd;
    height          : 50px;
    font-size       : 18px;
}

.panel-default > .panel-heading > a {
    color: #777;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #dddddd;
}

.panel-default > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #dddddd;
}


/* font for event descriptions */
.description {
    color      : #777;
    font-size  : 16px;
    margin-left: 15px;
}

/* override bootstrap blue color */
/* color for nav tabs */
.nav-tabs > li > a {
    color: #522D80;
}
/* caret */
a > .caret {
    border-top-color: #522D80;
}



/* pagination */
.pagination .active a,
.pagination .active span {
    background-color: #522D80 !important;
    border-color    : #522D80 !important;
}
.pagination a {
    color: #522D80;
}



.footer-nav {
    background-color: #eee; padding: 15px 0px 20px 0px;
}
.footer-nav h4 {
    color        : #999999;
    border-bottom: 1px solid #999999; padding-bottom: 5px;
}
.footer-nav a {
    color: #999999;
}



main {
    position  : relative;
    display   : block;
    height    : 680px;
    margin-top: -75px;
}
#stripes {
    width                   : 100%;
    height                  : 100%;
    overflow                : hidden;
    -webkit-transform       : skewY(-10deg);
    transform               : skewY(-10deg);
    -webkit-transform-origin: 0;
    transform-origin        : 0;
    background              : linear-gradient(90deg,#ff6733 0%,#ffa06a 100%);
}
#stripes, #stripes span {
    position: absolute;
}
#stripes :first-child {
    width     : 25%;
    background: linear-gradient(160deg,#ff8753 0%,#ff6733 100%);
}
#stripes span {
    height: 170px;
}
#stripes :nth-child(2) {
    width     : 50%;
    top       : 0;
    left      : 25%;
    right     : auto;
    background: linear-gradient(90deg,#ff8753 0%,#ff6733 100%);
}
#stripes :nth-child(4) {
    width     : 15%;
    top       : 380px;
    right     : 0;
    background: linear-gradient(270deg,#ff8753 0%,#ff905a 100%);
}
#stripes :nth-child(5) {
    width     : 45%;
    bottom    : 0;
    background: linear-gradient(190deg,#ff9763 0%,#ff6733 100%);
}

.main-img {
    position: relative;
}

@media screen and (min-width: 750px) {
    .main-subject {
        padding          : 0px 0px 120px 0px;
        -webkit-transform: skewY(-10deg);
        transform        : skewY(-10deg);
        background-color : #fff;
        margin-top       : -50px;
    }
    .main-subject-text {
        -webkit-transform: skewY(10deg);
        transform        : skewY(10deg);
    }
    .main-subject2 {
        padding   : 300px 0px 100px 0px;
        margin-top: -300px;
    }
    .main-img {
        position: relative;
        top     : 150px;
    }
}
@media screen and (max-width: 750px) {
    .main-subject {
        padding-bottom: 50px;
    }
    .main-subject2 {
        padding: 50px 0px;
    }
}
.main-xs {
    margin-top: -75px;
    padding   : 100px 0px 50px 0px;
    background: linear-gradient(90deg,#ff6733 0%,#ffa06a 100%);
}
