{% extends 'CAIFManageBundle::layout.html.twig' %}

{% set sub_nav_section = 'international-club' %}

{% block page_title_header %}
    Manage International Clubs
{% endblock %}

{% block manage_content %}
    <h3>
        <a href="{{ path('caif_manage_intl_club_add') }}" class="btn btn-custom btn-sm pull-right">
            {{ icon('plus') }}
            Add
        </a>
        Current International Clubs
    </h3>
    {% import 'CAIFSharedBundle:Event:macro.html.twig' as macros %}
    {{ macros.intl_clubs(clubs, 'caif_manage_intl_club_show') }}
{% endblock %}
