{% extends 'CAIFSharedBundle:Shared:layout.html.twig' %}
{% import 'CAIFSharedBundle:Profile:macros.html.twig' as macros %}

{% block page_title_header %}
    {{ person }}
{% endblock %}

{% block content %}
    <br>
    {{ macros.check_archived(person) }}

    <div class="col-sm-3">
        {% import 'CAIFSharedBundle:Profile:macros.html.twig' as macros %}
        {{ macros.student(person, 'host') }}
    </div>
    <div class="col-sm-9">
        {% if person.host != null %}
            {{ macros.host_profile(person.host, false) }}
        {% else %}
            <br>
            <div class="well light-grey">
                Host family not yet assigned
            </div>
        {% endif %}
    </div>
{% endblock %}
