{% extends 'CAIFSecurityBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div style="margin-top: 5%;">
            <!-- login -->
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                <blockquote>
                    Passwords should be atleast 8 characters long
                </blockquote>
                {{ form_start(form) }}
                    {{ form_rest(form) }}
                    <button class="btn btn-purple">
                        Save
                    </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
